.w3-input{
  color: black !important;
}

.order-button{
  border-radius: 20px;
  border: 1px solid #496D1D;
  background-color: #496D1D;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
