@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat';
    height: 100vh;
    margin: -20px 0 50px;
  }

h1{
    font-weight: bold;
    margin: 0;
    font-family: 'Montserrat'
  }

  h2{
    text-align: center;
  }

p{
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
 }

 .column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
} 



input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

button {
    border-radius: 20px;
    border: 1px solid #496D1D;
    background-color: #496D1D;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.navbar.navbar-default {
    background: #7FBD32;
    border: 0px;
    margin-bottom: -20px;
    text-align: right;
    color: #496D1D;
    font-family: Effra, Helvetica, sans-serif;
  }

  .navbar.order-container {
    float: right;
  }

  .navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

  .navbar .order-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .navbar .order-container button:hover {
    background: #ccc;
  }
  
  .btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 2px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: centre; /* Float the buttons side by side */
  } 

 