
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="public/master-stylesheet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  </head>
  <body>
  {{ template "menubar.html" .}}
  {{ template "header.html" .}}

<h2> Confirmation for group order {{.token}}</h2>
{{range .payload}}
{{.FirstName}} {{.LastName}} {{.DishName}} £{{.DishPrice}}<br>
<br>
{{end}}
<br>
<p>Total:£{{.total}}</p>

<p>This order will be placed at: {{.orderTime}} </p>

</body>
</html>