
<!DOCTYPE html>
<html lang="en" dir="ltr">

{{ template "menubar.html" . }}

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
  <head>
    <meta charset="utf-8">
    <title> {{ .title}} </title>
    <style>
      h1 {
        color: green;
        font-family: courier;
        font-size: 200%;
      }
      p {
        color: 213409;
        font-family: verdana;
        font-size: 20px;
      }

</style>
  </head>
  <body>
    <h1>About us</h1>
    <p>This is a simple web app created by four Deliveroo apprentices and it is our final project at Makers. Our mission was to develop a web
       app where food can be ordered by individuals as part of a group order. The order initiator can "Create Order" that selects the restaurant
       and generates a unique order token shared with whomever they want to be part of the group order.</p>

       <p>Key ingredients for our success as a team are sharing ideas and knowledge, working together in pairs and offering help to each other whenever
       required. </p>
  </body>
</html>
