<!--login.html-->


<h1>Login</h1>
<div class="panel panel-default col-sm-6">

  <div class="panel-body">
    <!--Create a form that POSTs to the `/login` route-->
    <form class="form" action="/login" method="POST">

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="email">
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="password">
      </div>

      <div class="form-group">
        <lable for="token">Token<label>
          <input type="text" name="token" class="form-control" id="token" placeholder="token">
        </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
