
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{.title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="public/font.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {{ template "menubar.html" . }}
    {{ template "header.html" .}}

    <div class="w3-main" style="center">

      <header class="w3-container w3-xlarge">
        <p class="w3-left"><br></p>
      </header>

      <div class="w3-display-container w3-container">
        <img src="https://www.w3schools.com/w3images/hamburger.jpg" alt="Jeans" style="width:100%; border-radius:15px">
        <div class="w3-display-topleft " style="padding:24px 48px">
          <h1 class="w3-jumbo w3-hide-small">Choose your dishes </h1>
          <h1 class="w3-hide-large w3-hide-medium">Choose your dishes</h1>
          <h1 class="w3-hide-small">And join your friends for lunch</h1>
        </div>
      </div>

      <div class="w3-container w3-text-grey">
        <p>{{.dishes}} dishes in the menu</p>
      </div>
        <div class="w3-row">
          {{ range .payload}}
          <div class="w3-col l3 s6">
            <div class="w3-container">
              <form action="/basket" method="POST" >

                <img src="{{.DishURL}}" style="width:100%">
                  <p><h4>{{.DishName}}</h4>{{.DishDescription}}<br><h4>£{{.DishPrice}}</h4>
                    <input type="checkbox" value="{{.DishID}}" name="DishID">
                      <span class="checkmark"></span>
                        <br>
                        <input name="token" type ="HIDDEN" value="{{.Token}}">
            </div>
          </div>
            {{end}}
      </div>
            <br>
            <div style="background-color: #B0DC7A; border-radius: 15px" class="w3-container w3-padding-32">
              <button type="submit" class="w3-input w3-border">Add to basket</button>
            </form>
            </div>
           
</body>
{{template "footer.html" .}}
</html>
