<!DOCTYPE html>
<html>
  <head>
    <title>{{.title}}</title>
    <link rel="stylesheet" href="public/master-stylesheet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  </head>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a style="color:#222021; font-family: Effra, Helvetica, sans-serif " class="navbar-brand" href="/">
        Home
      </a>
      <a style="color:#222021; font-family: Effra, Helvetica, sans-serif " class="navbar-brand" href="/logout">
        Logout
      </a>
</nav>
{{ template "header.html" .}}
<body>
  <center><h1> You have successfully created a new group order!<h1></center>
    {{range .payload}}
    <h4><p> This order will be placed at {{ .Ordertime }} </p><h4>

  <br>

  <center>
<h3><p>Share your order code with others so they can join your order!</p></h3>

<p><input type="text" value="{{.Token}}" id="myInput" style="text-align:center;" readonly><br><br><button style="color:#FFFFFF;" onclick="myFunction()">Copy</button>
<br>


    <br>

  <div class="row">
    <div class="column">
      <form action="/adminconf" method="POST" >
      <input name="token" type="HIDDEN" value="{{.Token}}">
      <button type="submit" class="w3-input w3-border" style="color:#FFFFFF;">View order status</button>
      </form>
    </div>

    <div class="column">
      <form action="/menu/adminorder" method="POST">
      <input name="token" type="HIDDEN" value="{{.Token}}">
      <button type ="submit" class="w3-input w3-border" style="color:#FFFFFF;"> Add dishes this order</button>
      </form>
    </div>
  </div>
    {{end}}

  <script>
   function myFunction() {
        var copyText = document.getElementById("myInput");
       copyText.select();
       copyText.setSelectionRange(0, 99999);
       document.execCommand("copy");
       alert("Copied your code: " + copyText.value);
      }
  </script>
</body>
</html>
