{{ template "header.html" .}}
<h1> Place your order </h1>
{{ range .payload}}
<form action="/orders" method="POST" >
  <label class="container">{{.RestName}}
    <input type="radio" value="{{.RestID}}" name="RestID">
    <span class="checkmark"></span>
    <br>
    {{end}}
    <h4> Please input delivery address </h4>
    <input type="text" placeholder="address" name="address">
    <br>
    <h4>Please select time that no more orders will be accepted.</h4>
    <input type="datetime-local" id="appt" name="appt"
       min="09:00" max="18:00" required>
    <br>
    <br>
    <input name="token" type ="HIDDEN" value="{{.token}}">
    <input type="submit" value="Create Order">

  </label>
  </form>
  <br>
