<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Restaurants</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="public/font.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {{ template "menubar.html" . }}
    {{ template "header.html" .}}

    <div class="w3-main" style="center">

      <header class="w3-container w3-xlarge">
        <p class="w3-left"><br></p>
      </header>

      <div class="w3-display-container w3-container">
        <h1 class="w3-jumbo w3-hide-small" style="color: black; font-family:Effra, Helvetica, sans-serif; text-align: center; font-weight: semi-bold">Select your restaurant and let's eat...</h1>

        <img src="/public/images/headerimage3.png" alt="Jeans" style="border-radius: 15px; width:100%">
        <div class="w3-display-topleft " style="padding:24px 48px">
          <h1 class="w3-hide-large w3-hide-medium">Select a restaurant</h1>
          <h1 class="w3-hide-small"></h1>
        </div>
      </div>

      <div class="w3-container w3-text-black" style="color: black; font-family:Effra, Helvetica, sans-serif;">
        <h2>{{.restNo}} restaurants currently available:</h2>
      </div>

      <div class="w3-row">
              {{ range .payload}}
              <div class="w3-col l3 s6">
                <div class="w3-container">

                <form action="/orders" method="POST" >
                  <img src="{{.RestURL}}" style="width:100%">
                  <p><h4>{{.RestName}}</h4></p>
                    <b><input type="radio" value="{{.RestID}}" name="RestID">
                      <span style="display: inline-block;"class="checkmark"></span></b></p>
                    </div>
                  </div>
                {{end}}
      </div>

    <div style="background-color: #B0DC7A; border-radius: 15px" class="w3-container w3-padding-32">
        <h1>Where would you like this order to be delivered?</h1>
        <p><input class="w3-input w3-border" type="text" name="address" placeholder="Enter delivery address" style="width:100%"></p>
    </div>
    <br>
    <div style="background-color: #B0DC7A; border-radius: 15px"class="w3-container w3-padding-32">
        <h1>What time would you like your order to be placed?</h1>
        <p><input class="w3-input" type="datetime-local" id="appt" name="appt"
           min="2020-02-20T12:01" max="2020-03-20T01:01" required></p>
    </div>
    <br>
    <br>
    <input name="token" type ="HIDDEN" value="{{.token}}">
    <center><button type="submit" style="font-size: xx-large;" class="order-button">Create Order</button></center>
  </div>
  <br>
  <br>

      </form>
  </body>
</html>
