<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ .title}}</title>
    <link rel="stylesheet" href="public/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css">
  </head>
  <body>

    <div>
    {{range .flashes}}{{.}}{{end}}
    </div>
    <br>

    <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form class="form" action="/signup" method="POST">
        <h1>Create Account</h1>
<br>
        <input type="text" name="first_name" placeholder="First Name">
        <input type="text" name="last_name" placeholder="Last Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="text" name="signtoken" placeholder="Joining an existing order? Enter your code here">
        <button type="submit">Sign Up</button>
      </form>
    </div>

    <div class="form-container sign-in-container">
      <form class="form" action="/login" method="POST">
        <h1>Sign In</h1>
        <div class="social-container" style="margin: 0px">
          <img src="/public/images/logo.png" style="width:100%"></a>
        </div>
        <input type="email" name="username" placeholder="Email">
        <input type="password" name="pass" placeholder="Password">
        <input type="text" name="logtoken" placeholder="Joining an existing order? Enter your code here">
        <button type="submit">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>Enter your details to order food with friends</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello!</h1>
            <p>Register your details to start ordering food with friends</p>
            <button class="ghost" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    <!-- <footer>
       <p>
           Copyright
           <a target="
           " href="https://florin-pop.com">Florin Pop</a>
       </p>
   </footer> -->

    <script type="text/javascript">
      const signUpButton = document.getElementById('signUp');
      const signInButton = document.getElementById('signIn');
      const container = document.getElementById('container');

      signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
      });
      signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
      });
    </script>

  </body>
</html>
