<!--register.html-->


<h1>Register</h1>
<div class="panel panel-default col-sm-6">
  <div class="panel-body">
    <!--Create a form that POSTs to the `/signup` route-->
    <form class="form" action="/signup" method="POST">
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="first_name">
          </div>

          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="last_name">
          </div>

        <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="email">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="password">
      </div>

      <div class="form-group">
        <lable for="token">Token<label>
          <input type="text" name="token" class="form-control" id="token" placeholder="token">
        </div>

      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</div>
